body {
    background-color:black;
    font-family:arial;
    color:white
}
h1{
color:grey;
font-family:verdana;
}
.maindiv{
background-color: white;
color: black;
width: 35%;
padding: 20px;
border-radius: 25px;
margin: auto;
}
*{
margin-bottom:15px;
}

#form  { display:table; margin:auto; }
.form_row    { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }


